.search-card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: $background-sidebar-color;
    margin: 20px;
    border-radius: $cards-border-radius;
}

.result-card {
    .result-img {
        width: 100%;
        height: 180px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        img {
        height: 100%;
        width: auto;
      }
    }

    .result-name-title {
        font-size: 16px;
        font-weight: 600;
        color: $primary-white;
        margin: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .result-description {
        font-size: 16px;
        font-weight: 500;
        color: #6a6a6a;
        margin: 0px 
    } 
}

.result-card-album {
    @extend .result-card;

    .result-img{
        border-radius: 15%;
    }
}

