<div class="search-card" [formGroup]="searchForm">
      <mat-form-field class="searchbar-input" appearance="fill" >
        <input matInput placeholder="¿Qué deseas escuchar?" formControlName="searchBar" autocomplete="off" (keydown.enter)="searchItems()">
        <mat-icon class="white-svg-icon" svgIcon="2" matSuffix></mat-icon>
      </mat-form-field>
</div>


<div class="mb-50px" *ngIf="trackResults">
  <h1 class="result-title-section">Canciones</h1>
  
  <div class="grid-track-list">
    <div *ngFor="let track of trackResults" class="result-card-list-item" (click)="goToDetail(track.id, eResultType.track)">
      <img class= "img-result-card-list-item" [src]="track.album.images[0].url" alt="">
      <div class="result-card-list-item-texts">
        <div>
          <h2>{{track.name}}</h2>
          <p>{{track.artists[0].name}}</p>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="mb-50px" *ngIf="artistResults">
  <h1 class="result-title-section">Artistas</h1>

  <div class="grid-artist-result">
      <div class="result-card" *ngFor="let artist of artistResults" (click)="goToDetail(artist.id, eResultType.artist)">
        <div class="result-img">
          <img [src]="artist.images[0]?.url" alt="">
        </div>
        <h1 class="result-name-title">{{artist.name}}</h1>
        <p class="result-description"> Artista </p>
      </div>
  </div>
</div>

<div *ngIf="albumResults">
  <h1 class="result-title-section">Álbumes</h1>

  <div class="grid-artist-result">
      <div class="result-card-album" *ngFor="let album of albumResults" (click)="goToDetail(album.id, eResultType.album)">
        <div class="result-img">
          <img [src]="album.images[0]?.url" alt="">
        </div>
        <h1 class="result-name-title">{{album.name}}</h1>
        <p class="result-description"> {{album.artists[0].name}} - {{album?.releaseDate | date:'yyyy'}}</p>
      </div>
  </div>
</div>









